<article class="example" id="uk">

  <section class="my__container">
    <div>
    <p>для десктопу</p>
    <div  class="toggle__box toggle__box__large__size">
      <svg id="svg-light" class="light__svg" width="43" height="24"><use href="./images/symbol-defs.svg#icon-light"></use></svg>
       <label class="switch">
      <input class="toggle" type="checkbox" checked>
      <span class="slider round"></span>
    </label> 
    <svg id="svg-dark" class="dark__svg" width="41" height="24"><use href="./images/symbol-defs.svg#icon-dark"></use></svg>
    </div>
    </div>
    <div>
    <p>для таблетки і моб</p>
    <div  class="toggle__box toggle__box__small__size">
      <svg id="svg-light" class="light__svg" width="21" height="21"><use href="./images/symbol-defs.svg#icon-sun"></use></svg>
       <label class="switch">
      <input class="toggle" type="checkbox" checked>
      <span class="slider round"></span>
    </label> 
    <svg id="svg-dark" class="dark__svg" width="21" height="21"><use href="./images/symbol-defs.svg#icon-moon"></use></svg>
    </div>
    </div>
    <div class="input__plase">
    <input type="text" placeholder="Search" class="search__inpute__theme">  
    <div><svg id="svg-search" width="20" height="19"><use href="./images/symbol-defs.svg#icon-lupa"></use></svg></div>
    </div>
    
  </section>
 
</article>
